<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</div>
            
<h1>Enter The Following Features Of The House To Know The Price</h1>
<form method="post" action="{% url 'services' %}" class="features">
    {% csrf_token %}
    <input required type="number" name="crim" value="" placeholder="per capita crime rate by town" >
    <input required type="number" name="zn" value="" placeholder="proportion of residential land zoned " >
    <input required type="number" name="indus" value="" placeholder="proportion of non-retail business acres per town" >
    <input required type="number" name="chas" value="" placeholder="River dummy variable (= 1 if tract bounds river; 0 otherwise)" >
    <input required type="number" name="nox"  value="" placeholder="nitric oxides concentration (parts per 10 million)" >
    <input required type="number" name="rm" value="" placeholder="average number of rooms per dwelling" >
    <input required type="number" name="age" value="" placeholder="proportion of owner-occupied units
    " >
    <input required type="number" name="dis" value="" placeholder="weighted distances to nearest railway station" >
    <input required type="number" name="rad" value="" placeholder="index of accessibility to radial highways" >
    <input required type="number" name="tax" value="" placeholder="tax rate of the property" >
    <input required type="number" name="ptratio" value="" placeholder="pupil-teacher ratio by town" >
    <input required type="number" name="lstat" value="" placeholder="% lower status of the population" >
    <input required type="number" name="medv" value="" placeholder="median value of owner-occupied homes " >
    <button type="submit">submit</button>
    
</form>

</div>
</body>
</html>